/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Font */
@font-face {
    font-family: "Open Sans";
    src: url("./assets/fonts/Open Sans.ttf");
}

@font-face {
    font-family: "Product Sans";
    src: url("./assets/fonts/Product Sans.ttf");
}

html {
    font-family: "Open Sans";
}

/* Main Styles */

.navbar {
    position: fixed;
    top: 0;
    height: 3rem;
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(16px);
}

.window-button-container {
    float: left;
    display: flex;
}

.window-button:first-child {
    background-color: #FF605C;
}

.window-button:nth-child(2) {
    background-color: #FFBD44;
}

.window-button:last-child {
    background-color: #00CA4E;
}

.window-button {
    height: 16px;
    width: 16px;
    border-radius: 100%;
    margin: 0 8px;
    background-color: white;
}

.navbar-heading {
    display: none;
    font-size: 2rem;
    color: #FFFFFF;
}

.navbar > ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0 1rem;
}

.navbar > ul > li {
    margin: 0 1rem;
}

.navbar > ul > li > a {
    text-decoration: none;
    color: #FFFFFF;
}

.hero-section {
    background-color: #ffffff;
    height: 480;
    margin: 3rem 0 0 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.google-name {
    font-family: "Product Sans";
    font-weight: 800;
    font-size: 8rem;
    margin: 4rem;
}

.google-name span:first-child {
    color: #4885ed;
}

.google-name span:nth-child(2) {
    color: #db3236;
}

.google-name span:nth-child(3) {
    color: #f4c20d;
}

.google-name span:nth-child(4) {
    color: #4885ed;
}

.google-name span:nth-child(5) {
    color: #3cba54;
}

.google-name span:last-child {
    color: #db3236;
}

.hero-container {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero-heading-container {
    display: flex;
    gap: 1rem;
    text-align: left;
    padding: 1rem;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 4rem;
}

.hero-heading-container:hover {
    box-shadow: 0rem 0.1rem 0.5rem 0rem rgba(0, 0, 0, 0.30);
}

.search-icon {
    width: 2rem;
    color: rgb(166, 166, 166);
    stroke-width: 2px;
}

.hero-heading {
    font-family: "Product Sans";
    font-weight: 400;
    font-size: 2rem;
}

.hero-subheading {
    margin: 1rem;
    font-size: 1.5rem;
    color: #555555;
}

.type-cursor {
    display: inline-block;
    width: 0.1rem;
    height: 2rem;
    margin-left: 0.5rem;
    background-color: #000000;
    animation: blink .6s linear infinite alternate;
    z-index: -1;
}

.cta-container {
    margin: 4rem 0 0 0;
}

.google-button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #f1f1f1;
    color: #5F6368;
}

.google-button:hover {
    color: #2a2a2a;
    border: 1px solid #a1a1a1;
    box-shadow: 0rem 0.1rem 0.1rem 0rem rgba(0, 0, 0, 0.10);
}

.bio-wave {
    fill: #0099ff;
}

.bio-section {
    background-color: #0099ff;
    min-height: 360px;
    margin: -4px 0 0 0;
    padding: 0 4rem;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.bio-pic {
    height: 240px;
}

.bio-heading {
    font-family: "Product Sans";
    font-size: 3rem;
    font-weight: 600;
    margin: 1rem 0;
}

.bio-body {
    font-size: 1rem;
    font-weight: 500;
    max-width: 480px;
    margin: 1rem;
    line-height: 1.2rem;
}

.bio-midshot {
    margin-top: auto;
    height: 320px;
}

.projects-section {
    height: 360px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.tbc {
    font-family: "Product Sans";
    margin: auto 0;
    font-size: 4rem;
    color: #555555;
}

/* Breakpoints */
@media only screen and (max-width: 730px) {
    .navbar {
        justify-content: center;
    }
    .navbar-heading {
        display: none;
    }

    .window-button-container {
        display: none;
    }

    .google-name {
        font-size: 4rem;
    }

    .hero-heading-container {
        text-align: center;
        border: none;
    }

    .hero-heading-container:hover {
        box-shadow: none;
    }

    .hero-heading {
        font-family: "Product Sans";
        font-weight: 400;
    }

    .search-icon {
        display: none;
    }

    .bio-section {
        flex-direction: column;
        text-align: center;
    }

    .bio-midshot {
        margin: auto;
        height: 200px;
    }

    .tbc {
        font-size: 2rem;
    }
}

/* Animations */
@keyframes blink {
    0% { opacity: 1;}
    40% { opacity: 1;}
    60% { opacity: 0;}
    100% { opacity: 0;}
}